<header class="header">
	<h1>Info Page</h1>
	<h2>Below is your info</h2>
</header>

<div style="text-align:center;">
			<table class="center">
			<tr>
				<td>First Name:</td>
				<td>{{firstName}}</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>{{lastName}}</td>
			</tr>
			<tr>
				<td>State:</td>
				<td>{{secretState}}</td>
			</tr>
		</table>
</div>
